.box-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.box {
    display: flex;
    min-height: 200px;
    height: auto;
    position: relative;
    background-color: transparent !important;


    .box-action {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: -webkit-fill-available;
        min-width: -webkit-fill-available;

        .text-link {
            font-weight: 100;
            font-size: 10px;
            color: #000000;
            background-color: #ffffff;
            top: 5px;
            right: 20px;
            padding: 5px 8px;
            opacity: .5;
            border-radius: 5px;
            position: absolute;
        }

        .button-box,
        .text-element-label,
        .circle-button-top,
        .circle-button-right,
        .circle-button-bottom,
        .circle-button-left {
            position: absolute;
            display: none;
        }
    }
}

.box:hover {
    border: 1px dashed #414141;

    .box-action {
        .button-box {
            display: inline;
        }
        .text-element-label,
        .circle-button-top,
        .circle-button-right,
        .circle-button-bottom,
        .circle-button-left {
            @extend .button-box;
            z-index: 1;
        }

        .circle-button-top {
            top: -20px;
        }

        .circle-button-right {
            right: -20px;
        }

        .circle-button-bottom {
            bottom: -20px;
        }

        .circle-button-left {
            left: -20px;
        }

        .text-element-label {
            font-weight: 700;
            font-size: 13px;
            color: #888888;
            top: 0;
            left: 0;
            padding: 10px;
        }
    }
    
    .text-content {
        padding-bottom: 70px;
    }
    
    .image-content {
        margin-bottom: 70px;
    }
}