.box-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.box {
    display: flex;
    min-height: 115px;
    height: auto;
    position: relative;
    background-color: transparent !important;
    height: 100%;

    .box-action {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: -webkit-fill-available;
        min-width: -webkit-fill-available;

        .text-link {
            font-weight: 100;
            font-size: 10px;
            color: #000000;
            background-color: #ffffff;
            top: 5px;
            right: 20px;
            padding: 5px 8px;
            opacity: .5;
            border-radius: 5px;
            position: absolute;
        }

        .button-box,
        .text-element-label,
        .circle-button-top,
        .circle-button-right,
        .circle-button-bottom,
        .circle-button-left {
            position: absolute;
            display: none;
        }
    }

    .text-content {
        word-break: break-all;
    }

    .button-content {
        border: 1px solid #000000;

        .button-link {
            color: #000000;
        }
    }
}

div[class*="enable-event"],
div:not([class*="disable-event"]) > * ~ a {
    .box:hover {
        border: 1px dashed #414141;

        .box-action:hover {
            
            .button-box {
                display: inline;

                .button-setting-container {

                    .button-setting-box {
                        z-index: 10;
                    }

                    .button-setting-group {
                        display: none;
                    }
                }

                .button-setting-container:hover {

                    .button-setting-container-hidden {
                        width: 450%;
                        height: 14px;
                        top: 30px;
                        left: -61px;
                        position: absolute;

                        .button-setting-group {
                            display: inline;
                            position: absolute;
                            z-index: 10;
                            left: -20px;
                            top: 8px;
                            background-color: #ffffff;
                            width: 200px;
                            border-radius: 5px;
                            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

                            .button-setting-title {
                                font-size: 12px;
                                font-weight: 700;
                                color: #484848;
                                background-color: #dddddd;
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                                padding: 5px 8px;
                            }

                            .button-management {
                                display: flex;
                                flex-direction: column;
                                padding: 5px;

                                .title {
                                    font-size: 12px;
                                    font-weight: 100;
                                    color: #484848;
                                    padding: 3px 5px;
                                }
                                
                                .button-management-title {
                                    @extend .title;
                                }

                                .button-management-action {
                                    margin: auto;
                                    margin-bottom: 10px;
                                }

                                .button-scale-container {

                                    .button-scale-title {
                                        @extend .title;
                                    }
                        
                                    .button-scale-action {
                                        transform: scale(0.6);
                                        display: block;
                                        width: max-content;
                                        margin: auto;
                                        margin-top: -7px;

                                        .button-scale {
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .text-element-label,
            .circle-button-top {
                @extend .button-box;
                z-index: auto;
            }

            .circle-button-right,
            .circle-button-left,
            .circle-button-bottom {
                @extend .button-box;
                z-index: 1;
            }

            .circle-button-top {
                top: -20px;
            }

            .circle-button-right {
                right: -20px;
            }

            .circle-button-bottom {
                bottom: -20px;
            }

            .circle-button-left {
                left: -20px;
            }

            .text-element-label {
                font-weight: 700;
                font-size: 13px;
                color: #888888;
                top: 0;
                left: 0;
                padding: 10px;
            }

            .button-management-container {
                top: 3px;
                right: 3px;
                z-index: 1;
            }
        }

        .box-margin {
            margin-bottom: 70px;
        }
        
        .image-content,
        .button-content {
            @extend .box-margin;
        }

        .text-content {
            @extend .box-margin;
            word-break: break-all;
        }

        .button-content {
            @extend .box-margin;
            border: 1px solid #000000;
        }

        .box-content {
            padding: 20px;
        }
    }
}
