.box-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px dashed #969696;
    min-height: 150px;
    background-color: #f5f5f5;
    color: #888888;

    .text-box {
        font-weight: 100;
        color: #cad0d0;

        .text-link-box {
            color: #a2a5a5;
        }
    }

    .button-box,
    .text-box-label,
    .circle-button-top,
    .circle-button-right,
    .circle-button-bottom,
    .circle-button-left {
        position: absolute;
        display: none;
    }
}

.box:hover {
    border: 1px dashed #414141;

    .button-box,
    .text-box-label,
    .circle-button-top,
    .circle-button-right,
    .circle-button-bottom,
    .circle-button-left {
        display: inline;
    }

    .text-box-label {
        font-weight: 700;
        font-size: 13px;
        color: #888888;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .circle-button-top {
        top: -20px;
        z-index: 9;
    }

    .circle-button-right {
        right: -20px;
        z-index: 9;
    }

    .circle-button-bottom {
        bottom: -20px;
        z-index: 9;
    }

    .circle-button-left {
        left: -20px;
        z-index: 9;
    }
}