.circle-button {
    cursor: pointer;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.square-button {
    cursor: pointer;
    margin: 3px;
    padding: 9px;
    border: none;
    border-radius: 8px;
}

.circle-button:focus,
.square-button:focus {
    outline: none;
}

.default-square-button {
    @extend .square-button;
    background-color: #c6c6c6;
    color: #414141;
    z-index: 20;
    font-size: 18px;
}

.done-square-button {
    @extend .square-button;
    background-color: #888888;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 3px;
}

.cancel-square-button {
    @extend .square-button;
    background-color: #c6c6c6;
    color: #414141;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 3px;
}

.delete-square-button {
    @extend .square-button;
    background-color: #888888;
    color: #ffffff;
    font-size: 18px;
}

.confirm-delete-square-button {
    @extend .square-button;
    background-color: #eb7558;
    color: #ffffff;
    font-size: 16px;
}

.cancel-delete-square-button {
    @extend .square-button;
    background-color: #ebebeb;
    color: #414141;
    font-size: 16px;
}

.upload-square-button {
    @extend .square-button;
    background-color: #414141;
    color: #ffffff;
    font-size: 14px;
    width: max-content;
}

.button-menu {
    position: relative;
    
     .menu-button-container:hover .menu-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: -21px;
        z-index: 10;
        transition: .4s ease .25s;
    }

    .menu-container {
        display: none;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        position: relative;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }
      
    .menu-links:after, 
    .menu-links:before {
        content: " ";
        position: absolute;
        bottom: 100%;
        right: 40%;
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
    }
      
    .menu-links:after {
        border-bottom-color: #ffffff;
        border-width: 8px;
        right: 42%;
    }
      
    .menu-links:before {
        border-bottom-color: #eaeaea;
        border-width: 9px;
    }
      
    .menu-link {
        text-decoration: none;
        color: #414141;
        font-size: 13px;
        width: 50px;
        min-width: max-content;
        padding: 7px 15px;
        cursor: pointer;
    }

    .menu-link:hover {
        color: #000000;
        font-weight: 700;
    }
}

.default-square-menu-button-layout {
    @extend .button-menu;
    .menu-button-container:hover .menu-container {
        top: 30px;
    }
    .default-square-menu-button {
        @extend .default-square-button;
    }
}

.circle-menu-button-layout {
    @extend .button-menu;
    .menu-button-container:hover .menu-container {
        top: 40px;
    }
    .circle-menu-button {
        @extend .circle-button;
    }
}

.text-menu-button-layout {
    @extend .button-menu;
    .menu-button-container:hover .menu-container {
        top: 18px;
    }
}
