@import './Container';
@import './Box';
@import './Button';
@import './ColorPicker';
@import './Dropdown';
@import './Input';
@import './Switch';
@import './Slider';
@import './Modal';
@import './UploadImage';
@import './Loading';
@import './Vuetify';

body {
    font-family: Arial, Helvetica, sans-serif;
}

.link-text {
    text-decoration: none;
    color: #414141;
    font-weight: 700;
    cursor: pointer;
    padding: 0 3px;
}

.clickable {
    cursor: pointer;
}
