.container {
    margin: 10px;

    .container-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #d9e5e5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 20px;

        .container-title {
            flex-grow: 1;

            .product-name {
                font-weight: 700;
                color: #414141;
            }

            .project-name {
                font-weight: 100;
                color: #969696;
            }
        }
    }

    .container-management {
        .json-viewer {
            border: 1px solid #dddddd;
            border-radius: 3px;
            padding: 30px;
            background-color: #f4f7fc;
            width: auto;
            overflow: auto;
            margin: 0 0 30px 0;
        }

        .vertical-line {
            color: #aeaeae;
        }
    }

    .container-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #ebebeb;
        border: 1px solid #d9e5e5;
        min-height: 100vh;
        height: auto;
        padding: 30px 0;

        .content {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            width: 60%;
        }
    }
}