.input-label {
    font-weight: 700;
    font-size: 13px;
    color: #414141;
    margin-right: 10px;
}

.input {
    border: 1px solid #c6c6c6;
    padding: 4px;
    border-radius: 3px;
    width: var(--input-width);
}

.input:focus {
    outline: none;
}
