.footer-panel {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: 100%;

    .footer-panel-switch {
        flex-grow: 1;
        .footer-panel-border-bottom {
            padding: 0 10px;
        }

        .footer-panel-background {
            padding: 0 20px;
        }
    }

    .footer-panel-button {
        flex-grow: 1;
        text-align: end;
    }
}