/* Text Panel */
.ql-toolbar {
    background-color: #ffffff;
}

.ql-editor {
    min-height: 200px;
}

.text-content {
    width: -webkit-fill-available;
}

.panel {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: -webkit-fill-available;
}

/* Image Panel */
.toolbar-panel {
    @extend .panel;

    .toolbar-panel-input {
        flex-grow: 1;

        .toobar-panel-image-width {
            padding: 0 10px;

            .toolbar-panel-width-text {
                font-size: 14px;
                color: #202020;
            }
        }

        .toolbar-panel-image-link {
            margin: 0 20px;
        }
    }
}

.footer-panel {
    @extend .panel;

    .footer-panel-switch {
        flex-grow: 1;
        .footer-panel-border-bottom {
            padding: 0 10px;
        }

        .footer-panel-background {
            padding: 0 20px;
        }
    }

    .footer-panel-button {
        flex-grow: 1;
        text-align: end;

        .footer-panel-compress-image {
            margin: 0 10px;
        }
    }
}
