/* override */ 

.builder-container {
  line-height: normal !important;
}

.v-application .builder-container a {
  color: #06c;
}

.builder-container button, .builder-container input {
  font: 100 12px Arial !important;
}

.builder-container::before, .builder-container::after {
  text-decoration: unset !important;
  vertical-align: unset !important;
}

.builder-container, .builder-container::before, .builder-container::after {
  background-repeat: unset !important;
  box-sizing: unset !important;
}

.builder-container code {
  background-color: transparent !important;
  color: #000000;
  padding: unset !important;
  font-size: 12px !important;
  font-weight: 100 !important;
}
